<div class="wlcm-sec">
<h4 class="wlcm">Jai Mata Di</h4>
<p class="wlcm-msg">Shiv Durga Temple was founded in 2012<a class="wlcm-link" href="#">...</a>
</p>
<img class="wlcm-img" width="80px" height="80px" src="images/welcome_photo.jpg">
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
	<div class="car-image">
      <img src="images/welcome_photo.jpg" alt="photo one">
	  </div>
      <div class="carousel-caption">
		<h6>Luvkush Ramayan Contest</h6>
        <a href="#">Click here for more details</a>
      </div>
    </div>
    <div class="item">
	<div class="car-image">
      <img src="images/main1.jpg" alt="photo two">
	  </div>
      <div class="carousel-caption">
        <h6>Hanuman Murti Pratishtha</h6>
        <a href="#">Click here for more details</a>
      </div>
    </div>
    <div class="item">
	<div class="car-image">
      <img src="images/main2.jpg" alt="photo three">
	  </div>
      <div class="carousel-caption">
        <h6>Satya Narayan Katha</h6>
        <a href="#">Click here for more details</a>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="tabs-section">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a data-toggle="tab" href="#announce">Announcements</a></li>
		<li role="presentation"><a data-toggle="tab" href="#upcome">Upcoming Events</a></li>
		<li role="presentation"><a data-toggle="tab" href="#regular">Regular Programs</a></li>
	</ul>
	<div class="tab-content">
		<div id="announce" class="tab-pane fade in active">
			<h3>Announcements</h3>
			<h4 style="background-color: rgba(237, 127, 4, 0.72);">Blood Donation Drive</h4>
			<h4>On: January-14-2017(Saturday)</h4>
			<h4>Between: 10:00AM - 1:00PM</h4>
			<p>Shraddhanjali to Ma. Ashok SinghalJi</p>
			<p>(See details below)</p>
			<a href="https://static.wixstatic.com/media/5ad79f_30adcff2cda94de4a2f416ec4aa08847~mv2.jpg/v1/fill/w_876,h_490,al_c,lg_1,q_85/5ad79f_30adcff2cda94de4a2f416ec4aa08847~mv2.webp"><img src="https://static.wixstatic.com/media/5ad79f_30adcff2cda94de4a2f416ec4aa08847~mv2.jpg/v1/fill/w_876,h_490,al_c,lg_1,q_85/5ad79f_30adcff2cda94de4a2f416ec4aa08847~mv2.webp" style="width:100%;"></a>
		</div>
		<div id="upcome" class="tab-pane fade">
			<h3>Upcoming Events</h3>
			<table>
				<tr>
					<th>December-12 Monday</th>
				</tr>
				<tr>
					<td>
						<ul>
							<li>6:30PM - Satya Narayan Katha(Poornima)</li>
							<li>8:00PM - Maha Mangal Aarti</li>
							<li>followed by Preeti Bhoj-Sponsored by Abhinav/Arnav Roy & family</li>
							<li>Suggested donation for partipating in Katha - $31.00</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th>December-13 Tuesday</th>
				</tr>
				<tr>
					<td>
						<ul>
							<li>6:30PM - Hanuman Moorti Pratishtha</li>
							<li>With Sindoor & Jasmine Oil Abhishekam</li>
							<li>Sindoor Wale Hanuman Ji</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="regular" class="tab-pane fade">
			<h3>Regular Programs</h3>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
		</div>
    </div>
</div>
</div>
			